<h2>Editing question</h2>

<%= error_messages_for :question %>

<% form_for(:question, :url => question_path(@question), :html => { :method => :put }) do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>
  <p> <%= submit_tag "Update" %> </p>
<% end %>

<%= link_to 'Add Choice', new_question_question_choice_path(@question) %> <br /> <br />

<%= link_to 'Show', question_path(@question) %>
