%p
  = @question.content

  %ul
    - @question.choices.each do |question_choice|
      %li
        = question_choice.content
        = link_to image_tag("table_edit.png", :alt => "Edit choice"), edit_question_choice_path(@question, question_choice)
        = link_to image_tag("table_delete.png", :alt => "Delete choice"), question_choice_path(@question, question_choice), :confirm => "Are you sure?", :method => :delete

%p
  = link_to "Edit", edit_question_path(@question)
  |
  = link_to "Add choice", new_question_choice_path(@question)
