%h3 Available Questions

.search
  - form_remote_tag :url => search_course_quiz_quiz_questions_path(@course, @quiz), :update => 'quiz_questions' do
    = text_field_tag 'q'
    = submit_tag 'Search'

%p= "Total hits: #{@questions.total_hits}"

%ul= render(:partial => 'quizzes/question', :collection => @questions)
