<h2>
  <%= @quiz.name %>
  <%= link_to image_tag('application_form_edit.png', :alt => 'Edit Quiz'), edit_course_quiz_path(@course, @quiz) if current_user.instructor? %>
</h2>

<div class="block">

<p class="instructions">

  <% if @quiz.closed? %>
    <strong>Completed Assignment:</strong> This assignment was due on <%= datetime_format(@quiz.due_at) %>.
    Your answer, if you provided one, is shown in green.  The correct answer to the question is shown
    underlined.

    <p class="information">Mean: <%= percent_format @quiz.mean %>, Standard Deviation: <%= number_with_precision @quiz.standard_deviation, 2 %></p>

  <% else %>
    <strong>Instructions:</strong> Complete the following questions by clicking on the
    answer of your choice.  You have until <%= datetime_format(@quiz.due_at) %> to complete
    this assignment.  No assignment, written or otherwise, will be accepted after that time.

    <p class="information">Your average score is <%= percent_format current_user.mean_score %>, can you do better here? </p>
  <% end %>
</p>

<% if current_user.instructor? %>
  <p>
    <span class="information">
      Participation: <%= percent_format( @quiz.participation ) %> <br />
      Questions: <%= @quiz.questions.count %>
    </span>
  </p>

<% end %>

<ol class="questions">

  <% @quiz.questions.each do |quiz_question| %>

    <li id="<%= dom_id(quiz_question) %>" <%= question_attributes %>>
      <%= link_to image_tag('chart_pie.png', :alt => 'Graph'), course_quiz_report_path(@course, @quiz, quiz_question), :rel => 'lightbox' %>
      <%= quiz_question.content %>

      <br />

      <%= link_to_function 'Show Answer', "$('#{dom_id(quiz_question)}').getElementsByClassName('hidden-answer')[0].className = 'answer'" if @quiz.closed? %>

      <ol class="answers">
        <% quiz_question.choices.each do |choice| %>
          <li id="<%= dom_id(choice) %>" <%= choice_class(quiz_question, choice, @question_responses) %> <%= choice_onclick(quiz_question, choice) %>>
            <%= choice.content %>
          </li>
        <% end %>
      </ol>
    </li>

  <% end %>

</ol>

<p> <%= link_to 'Done', course_path(@course) %> </p>

</div>

<br />
