%h2
  = @quiz
  - if instructor?
    = link_to image_tag("application_form_edit.png", :alt => "Edit quiz"), edit_course_quiz_path(@course, @quiz)

%p.instructions
  - if @quiz.closed?

    %strong Completed Assignment:
    == This assignment was due on #{datetime_format @quiz.due_at}.
    Your answer, if you provided one, is shown in green.  The correct answer to the question is shown underlined.
    %p.information== Mean: #{percent_format @quiz.mean}, Standard Deviation: #{number_with_precision @quiz.standard_deviation, :precision => 2}

  - else

    %strong Instructions:
    Complete the following questions by clicking on the answer of your choice.
    == You have until #{datetime_format @quiz.due_at} to complete this assignment.  No assignment, written or otherwise, will be accepted after that time.

- if instructor?

  %p== Participation: #{percent_format @quiz.participation}
  %p== Questions: #{@quiz.questions.count}

%ol.questions= render @quiz.questions

- if instructor? and @quiz.open?
  = link_to "Add question", new_quiz_question_path(@quiz)
