.block_head
  = announcement.title
  - if current_user.instructor?
    = link_to image_tag("comment_edit.png", :alt => "Edit Announcement", :title => "Edit Announcement"), edit_course_announcement_path(@course, announcement)
    = link_to image_tag("comment_delete.png", :alt => "Delete Announcement", :title => "Delete Announcement"), course_announcement_path(@course, announcement), :method => :delete, :confirm => "Are you sure?"

.block_body
  = announcement.body.html_safe
  .block_information= "Posted by #{announcement.user} on #{datetime_format(announcement.created_at)}"
