<h2>Editing announcement</h2>

<%= error_messages_for :announcement %>

<% form_for(:announcement, :url => course_announcement_path(@course, @announcement), :html => { :method => :put }) do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>
  <p> <%= submit_tag "Update" %> </p>
<% end %>

<%= link_to 'Show', course_announcement_path(@course, @announcement) %> |
<%= link_to 'Back', course_path(@course) %>
