%h2 Add quiz question

= form_tag new_quiz_question_path(@quiz), :method => :get do
  %p
    = text_field_tag :search, params[:search]
    = submit_tag "Search"

- @questions.each do |question|
  .block
    = render question

    = form_for @quiz_question, :url => quiz_questions_path(@quiz) do |form|
      = hidden_field_tag "quiz_question[question_id]", question.id
      = form.submit "Add to quiz"

= link_to "Back", @quiz
