%h2 Add quiz question

- Question.includes(:choices).limit(10).all.each do |question|
  .block
    = render question

    = form_for @quiz_question, :url => quiz_questions_path(@quiz) do |form|
      = hidden_field_tag :question_id, :value => question.id
      = form.submit "Add to quiz"

= link_to "Back", @quiz
