%h2 Register an Account

= simple_form_for @user do |form|
  #login_box
    .block.options
      %p.criteria Demographic Information
      = form.input :first_name
      = form.input :last_name
      = form.input :blackboard_username

    .block.options
      %p.criteria Account Information
      = form.input :email
      = form.input :password
      = form.input :password_confirmation
      = form.input :registration_code

    %br

    .block.submit
      = image_submit_tag 'register.png', :alt => 'Register'

%br
