<h2 class="accessible">Closed Quizzes</h2>
	
<ul class="quizzes">
			
<% @course.closed_quizzes.each do |quiz| %>
			
  <li>
    <h3><%= link_to quiz.name, course_quiz_path(@course, quiz) %></h3>

    <%= link_to image_tag( 'application_form_edit.png', :alt => 'Edit Quiz' ), edit_course_quiz_path( @course, quiz ) if current_user.instructor? %>
    <%= link_to image_tag( 'application_form_delete.png', :alt => 'Delete Quiz' ), course_quiz_path( @course, quiz ), :confirm => 'Are you sure?',
                :method => :delete if current_user.instructor? %>
    
    <span class="information">
      <% if current_user.instructor? %>
        Participation: <%= percent_format quiz.participation %> <br />
      <% else %>
        Your Score: <%= percent_format quiz.grade_for(current_user) %> <br />
        Percentile Rank: <%= percent_format quiz.percentile_for(current_user) %> <br />
      <% end %>

      Mean Score: <%= percent_format quiz.mean_score %> <br />
      Standard Deviation: <%= number_with_precision quiz.score_standard_deviation, 2 %>
    </span>
  </li>

<% end %>

<%= 'There are no closed quizzes at this time.' if @course.closed_quizzes.empty? %>

</ul>

<% if current_user.instructor? %>
  <p><%= link_to image_tag('application_form_add.png') + "&nbsp;Add a Quiz", new_course_quiz_path(@course) %></p>
<% end %>
