<h2 class="accessible">Documents</h2>
	
<ul>
		
  <% @course.documents.each do |document| %>

    <% next unless current_user.instructor? or document.viewable_now? %>

    <li>
      <div class="block_head">
        <h3>
          <%= document.label %>
          <% if current_user.instructor? %>

            <%= link_to( image_tag( 'page_edit.png', :alt => 'Edit Document' ), edit_course_document_path(@course, document)) %>
            <%= link_to( image_tag( 'page_delete.png', :alt => 'Delete Document' ), course_document_path(@course, document),
                         :confirm => 'Are you sure?', :method => :delete ) %> <br />

            <%= %Q|<span class="information">(viewable by students on #{datetime_format(document.viewable_at)})</span>| unless document.viewable_now? %>

          <% end %>
        </h3>
        <div class="block_information">added <%= datetime_format(document.created_at) %></div>
        <br />
      </div>

      <div class="block_body">
          <%= link_to document.filename, course_document_path(@course, document) %>
      </div>

    </li>
		
  <% end %>

  <%= 'There are no documents at this time.' if @course.documents.empty? %>
		
</ul>

<% if current_user.instructor? %>
  <p><%= link_to image_tag('page_add.png') + "&nbsp; Add a Document", new_course_document_path(@course) %></p>
<% end %>
