<h2 class="accessible">Gradebook</h2>

<% if @course.gradeables.empty? and (! current_user.instructor?) %>

  <ul><li>There are no grades posted at this time.</li></ul>

<% else %>

<table id="gradebook-table">

	<thead>
	<tr>
		<th class="name">Student</th>
		<% @course.gradeables.each do |gradeable| %>
			<th>
        <%= link_to gradeable.name, gradeable_path( gradeable ) %>
        <%= link_to image_tag( 'chart_pie.png', :alt => 'Grade Distribution' ),
                    gradeable_report_path( gradeable ), :rel => 'lightbox' %>
      </th>
		<% end %>

    <th>Quiz Average</th>
    <th>Exam Average</th>
	</tr>
	</thead>

	<tbody>
	<% @students.each do |student| %>

		<tr>
			<td class="name"> <%= student.name %> </td>

			<% @course.gradeables.each do |gradeable| %>
				<td class="data"> <%= percent_format @gradebook[gradeable.name.underscore][student.id] %> </td>
			<% end %>

			<td class="data"> <%= percent_format @gradebook['Quiz Average'][student.id] %> </td>
			<td class="data"> <%= percent_format @gradebook['Exam Average'][student.id] %> </td>
		</tr>

	<% end %>

  <%= '<tr><td>No Students</td></tr>' if @course.students.empty? %>
	</tbody>

</table>

<% end %>

<p> <%= link_to image_tag( 'application_form_add.png', :alt => 'Add an Exam') + '&nbsp; Add an Exam', new_course_exam_path(@course) if current_user.instructor? %> </p>

<br />
