<h2 class="accessible">Gradebook</h2>

<% if @course.gradeables.empty? %>

  <p>There are no grades posted at this time.</p>

<% else %>

<table id="gradebook-table">

	<thead>
	<tr>
		<th class="name">Student</th>
		<% @course.gradeables.each do |gradeable| %>
			<th> <%= link_to gradeable.name, gradeable_path(gradeable) %> </th>
		<% end %>
	</tr>
	</thead>

	<tbody>
	<% @students.each do |student| %>

		<tr>
			<td class="name"> <%= student.name %> </td>

			<% @course.gradeables.each do |gradeable| %>
				<td class="data"> <%= percent_format @gradebook[gradeable.name.underscore][student.id] %> </td>
			<% end %>
		</tr>

	<% end %>

  <%= '<tr><td>No Students</td></tr>' if @course.students.empty? %>
	</tbody>

</table>

<% end %>

<p> <%= link_to image_tag( 'application_form_add.png', :alt => 'Add an Exam') + '&nbsp; Add an Exam', new_course_exam_path(@course) if current_user.instructor? %> </p>
