<h2 class="accessible">Open Quizzes</h2>

<ul class="quizzes">
			
<% @course.open_quizzes.each do |quiz| %>

  <% next unless current_user.instructor? or quiz.viewable_at <= Time.now %>

  <li>
    <h3><%= link_to quiz.name, course_quiz_path(@course, quiz) %></h3>

    <%= link_to image_tag( 'application_form_edit.png', :alt => 'Edit Quiz' ), edit_course_quiz_path( @course, quiz ) if current_user.instructor? %>
    <%= link_to image_tag( 'application_form_delete.png', :alt => 'Delete Quiz' ), course_quiz_path( @course, quiz ), :confirm => 'Are you sure?',
                :method => :delete if current_user.instructor? %>
    
    <span class="information">
      Due on: <%= datetime_format(quiz.due_at) %> <br />
      <% if current_user.instructor? %>
        Viewable: <%= quiz.viewable_now? ? datetime_format(quiz.viewable_at) : 'now' %> <br />
        Participation: <%= percent_format quiz.participation %>
      <% elsif quiz.attempted_by? current_user %>
        Status: <%= quiz.answers_from(current_user).size %> of <%= quiz.questions.size %> questions attempted <br />
        <%= link_to 'Show completion code', '#', :onclick => "Effect.Appear('completion_code'); return false;" %>
        <div style="display: none; width: 80%" id="completion_code"><%= quiz.completion_code_for(current_user) %></div>
      <% end %>
    </span>

  </li>
			
<% end %>


<%= 'There are no open quizzes at this time.' if @course.open_quizzes.empty? %>

</ul>

<% if current_user.instructor? %>
  <p><%= link_to image_tag('application_form_add.png') + "&nbsp;Add a Quiz", new_course_quiz_path(@course) %></p>
<% end %>
