<h2 class="accessible">Quizzes</h2>
	
<ul class="quizzes">
			
<% @quizzes.each do |quiz| %>

  <% next unless current_user.instructor? or quiz.viewable_now? %>
			
  <li>
    <div class="block_head">
      <h3><%= quiz.name %>

        <% if current_user.instructor? %>
          <%= link_to image_tag( 'application_form_edit.png', :alt => 'Edit Quiz' ), edit_course_quiz_path( @course, quiz ) %>
          <%= link_to image_tag( 'application_form_delete.png', :alt => 'Delete Quiz' ), course_quiz_path( @course, quiz ),
                      :confirm => 'Are you sure?', :method => :delete %>
        <% end %>
      </h3>

      <div class="block_information">
        <% if current_user.instructor? %>
          Viewable <%= quiz.viewable_now? ? 'now' : datetime_format(quiz.viewable_at) %> <br />
        <% end %>
      </div>

      <br />
    </div>

    <div class="block_body">

        <% if quiz.open? %>
          Due on: <%= datetime_format(quiz.due_at) %> <br />

          <% if current_user.instructor? %>

            Participation so far: <%= percent_format quiz.participation %> <br />

          <% elsif quiz.attempted_by? current_user %>

            Status: <%= quiz.answers_from(current_user).size %> of <%= quiz.questions.size %> questions attempted <br />
            <%= link_to 'Show completion code', '#', :onclick => "Effect.Appear('completion_code'); return false;" %>
            <div style="display: none; width: 80%" id="completion_code"><%= quiz.completion_code_for(current_user) %></div>

          <% end %>

        <% else %> <%# quiz closed %>

          <% if current_user.instructor? %>
            Participation: <%= percent_format quiz.participation %> <br />
          <% else %>
            Your Score: <%= percent_format quiz.grade_for(current_user) %> <br />
            Percentile Rank: <%= percent_format quiz.percentile_for(current_user) %> <br />
          <% end %>

          Mean Score: <%= percent_format quiz.mean %> <br />
          Standard Deviation: <%= number_with_precision quiz.standard_deviation, 2 %>

        <% end %>

      <%= link_to 'Take Quiz', course_quiz_path(@course, quiz) if quiz.open? %>

    </div>

  </li>

<% end %>

<%= 'There are no quizzes at this time.' if @quizzes.empty? %>

</ul>

<% if current_user.instructor? %>
  <p><%= link_to image_tag('application_form_add.png') + "&nbsp;Add a Quiz", new_course_quiz_path(@course) %></p>
<% end %>

<br />
