<h2>Listing courses</h2>

<div class="block">
<ul>

  <% @courses.each do |course| %>

    <li>
      <%= link_to course.title, course_path(course) %>
      <span class="information">(<%= course.enrollment %> enrolled)</span>
      <%= link_to image_tag( 'group_edit.png', :alt => 'Edit Course' ), edit_course_path(course) %>
      <%= link_to image_tag( 'group_delete.png', :alt => 'Delete Course' ), course_path(course), :confirm => 'Are you sure?', :method => :delete %>
    </li>

  <% end %>

</ul>

<%= link_to 'New course', new_course_path %>
</div>
