<%= render :partial => 'tabs' %>

<div id="tabs">
	
	<div id="announcements-tab"> <%= render :partial => 'announcements' %> </div>
	<div id="documents-tab"> <%= render :partial => 'documents' %> </div>
	<div id="quizzes-tab"> <%= render :partial => 'quizzes' %> </div>
  <div id="gradebook-tab"> <%= render :partial => 'gradebook' %> </div>

</div>
