%h2= @course.title

#announcements
  = html_announcements(@latest_announcements)

  = link_to 'All announcements', course_announcements_path(@course)

= small_block('Latest Documents', 'Nothing yet')
= small_block('Open Quizzes', 'Nothing yet')
= small_block('Latest Grades', 'Nothing yet')
