<h2>Editing Exam</h2>

<%= error_messages_for :exam %>

<% form_for([@course,@exam]) do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>
  <p> <%= f.submit "Update" %> </p>
<% end %>

<%= link_to 'Show', course_exam_path(@course,@exam) %> |
<%= link_to 'Back', @course %>
