%h2= @exam.name

%p
  %label{:for => "mean"} Mean Score:
  = percent_format @exam.mean

%p
  %label{:for => "sd"} Standard Deviation:
  = number_with_precision @exam.standard_deviation, :precision => 2

%p= instructor_link "Edit exam", "application_form_edit.png", edit_exam_path(@exam)
%p= link_to "Back", course_path(@exam.course)
