%h2 Welcome to learnSTAT!

= simple_form_for UserSession.new, :url => login_path do |form|
  #login_box

    .block.options
      %p.criteria I already have an account.
      = form.input :email
      = form.input :password
      = form.input :remember_me, :as => :boolean

      %p.submit= image_submit_tag 'login.png', :alt => 'Login'

    .block.options
      %p.criteria I dont have an account.
      %p.submit= link_to 'Create an account', signup_url

    %br
