!!! 5
%html{:lang => "en"}
  %head
    %meta{:name => "google-site-verification", :content => "ZoqF7nZmCBi98S7ibVrO-VcDWCKA4N8krwhWxzOyouc"}
    %meta{:charset => "utf-8"}

    %link{:rel => "shortcut icon", :href => "/favicon.ico"}

    %title learnSTAT

    = stylesheet_link_tag 'application', 'lightbox', :cache => true
    /[if lt IE 9] <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>

    = javascript_include_tag 'prototype', 'effects', 'controls', 'lightbox', 'application', :cache => true

  %body
    = link_to content_tag(:h1, content_tag(:span, 'learnSTAT')), root_path

    #navbar= navbar
    = menubar

    #content
      = flash_messages
      = yield
      %br

    #footer
      %p== &copy; 2008 &mdash; #{Date.today.year} Jason Dew
