!!! 1.1

%html{:xmlns => "http://www.w3.org/1999/xhtml", 'xml:lang' => "en-US", :lang => "en-US"}

  %head
    %meta{'http-equiv' => "Content-Type", :content => "text/html; charset=ISO-8859-1"}
    %link{:rel => "shortcut icon", :href => "/favicon.ico"}
    %title learnSTAT

    = stylesheet_link_tag 'application', 'lightbox', :cache => true
    = javascript_include_tag 'prototype', 'effects', 'controls', 'lightbox', 'application', :cache => true

  %body
    = link_to content_tag(:h1, content_tag(:span, 'learnSTAT')), login_url

    #navbar= navbar
    #menubar= menubar
    #content
      = messages
      = yield
      %br

    #footer= content_tag(:p, '&copy; 2008 Palmetto Web Consulting')
