!!! 5
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    = csrf_meta_tag
    %link{:rel => "shortcut icon", :href => "/favicon.ico"}

    %title learnSTAT

    /[if lt IE 9] <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    = stylesheet_link_tag "jquery-ui-1.8.5.custom", "application"
    = javascript_include_tag "jquery-1.4.2.min", "jquery-ui-1.8.5.custom.min", "jquery.dataTables.min", "rails", "application"

  %body
    = link_to content_tag(:h1, content_tag(:span, 'learnSTAT')), root_path

    #header
      #navbar.ui-helper-clearfix= navbar
      = menubar

    #content.ui-helper-clearfix
      = flash_messages
      = yield

    #footer
      == &copy; 2008 &mdash; #{Date.today.year}
      = link_to "Catamorhpic Labs, LLC", "http://catamorphiclabs.com/"
