<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
	<title>learnSTAT</title>

  <%= stylesheet_link_tag 'application' %>
	<%= stylesheet_link_tag 'lightbox' %>

  <%= javascript_include_tag :defaults %>
	<%= javascript_include_tag 'lightbox' %>
</head>

<body id="announcements">
	<%= link_to '<h1><span>learnSTAT</span></h1>', login_url %>

	<div id="navbar">
		<% if logged_in? %>
			<p class="left">Welcome, <%= current_user.name %>.</p>
			<p class="right">[<%= link_to 'Log Out', logout_url %>]</p>
		<% end %>

		<br />
	</div>

	<div id="content">
		<p class="notices"><%= flash[:notice] %></p>
		<%= yield %> 
		<br />
	</div>

	<div id="footer">
		<div>
			<p>&copy; 2007 Jason Dew</p>
		</div>

		<div> <!-- badges -->
			<a href="http://www.mozilla.com/en-US/firefox/"><img src="/images/firefox.png" alt="Use Firefox 2.0"/></a>
		</div>

		<br />
	</div>
</body>

</html>
